<div class="col-md-6">
    <div class="inputs">
        <label for="address-input">Add/Edit Song</label>
        <br>
        <input type="text" ng-model="newSong.song_name" name="song" id="song" placeholder="Song">
        <br>
        <input type="text" ng-model="newSong.artist_name" name="artist" id="artist" placeholder="Artist">
        <br>
        <input type="text" ng-model="newSong.album" name="album" id="album" placeholder="Album">
        <br>
        <button ng-click="addNewSong()">Submit</button>
    </div>
</div>
